<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="kapil" class="com.kapil.demoSpringProject.Kapil" autowire="byType">
    	<property name="age" value="20"></property>
	</bean>
	
	<bean id="laptop" class="com.kapil.demoSpringProject.Laptop" primary="true"> </bean>
	<bean id="desktop" class="com.kapil.demoSpringProject.Desktop"></bean>
</beans>
